<h1>This page is a Webcall </h1>

<%= javascript_include_tag 'jquery-1.7.1' %>
<%= javascript_include_tag 'identify-browser' %>

<div id="example"></div>
<div id="browsertyp"></div>

<%= javascript_include_tag 'collect-usage-data' %>



