<%= javascript_include_tag "BackendVII" %>

<h1>Wilkommen im Admin Bereich!</h1>

<p>
<img src="/welcome_admin.jpg" height="470px" width="600"/>
</p>
<br />

<div style="float: left">
  <h4>
    <br/>
    Es ist jetzt: <%= Time.now %>
    <br/>
  Es sind <%= @total_usagerecords %> Usage Records vorhanden.
  </h4>
</div>