
<%= javascript_include_tag "BackendVII" %>

<%= stylesheet_link_tag "ext-all", "frontends/frontends.css" %>

<%= javascript_include_tag "../extjs/ext-all", "frontends/app/kuchen" %>

<h1>Wilkommen im Frontend</h1>

<div id="kuchen" style="background-color: lightgrey; height: 500px;">
  <table>
    <tr >
      <td>
       
      </td>
    </tr>
  </table>
</div>


 

