
<%= javascript_include_tag "BackendVII" %>

<%= stylesheet_link_tag "ext-all", "frontends/frontends.css" %>

<%= javascript_include_tag "../extjs/ext-all", "frontends/app/charts/pages" %>

<div id="kuchen" >
</div>


 

